#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
desarrollo/codeigniter4/.env
.vagrant
Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
desarrollo/codeigniter4/writable/cache/*
!desarrollo/codeigniter4/writable/cache/index.html

desarrollo/codeigniter4/writable/logs/*
!desarrollo/codeigniter4/writable/logs/index.html

desarrollo/codeigniter4/writable/session/*
!desarrollo/codeigniter4/writable/session/index.html

desarrollo/codeigniter4/writable/uploads/*
!desarrollo/codeigniter4/writable/uploads/index.html

desarrollo/codeigniter4/writable/debugbar/*
!desarrollo/codeigniter4/writable/debugbar/.gitkeep

desarrollo/codeigniter4/writable/**/*.db
desarrollo/codeigniter4/writable/**/*.sqlite

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
user_guide_src/build/*


# Don't save phpunit under version control.
phpunit

#-------------------------
# Composer
#-------------------------
desarrollo/codeigniter4/vendor/
desarrollo/codeigniter4/composer.lock

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
desarrollo/codeigniter4/.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

/.php-cs-fixer.php

# System
desarrollo/codeigniter4/system/*